/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  --gray100: #f7fafc;
  --gray200: #edf2f7;
  --gray300: #e2e8f0;
  --gray400: #cbd5e0;
  --gray500: #a0aec0;
  --gray600: #718096;
  --gray700: #4a5568;
  --gray800: #2d3748;
  --gray900: #1a202c;
  --font-mono: 'SF Mono', Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  font-family: var(--font-mono);
  background-color: var(--gray800);
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

.is-selectable,
pre,
code {
  user-select: text;
  cursor: auto;
}

button {
  cursor: default;
}

img {
  -webkit-user-drag: none;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/**** EDITOR ****/

.editor {
  display: flex;
  flex-direction: column;
}

.editor__tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  background: #0d1017;
}

.editor__tab {
  font-size: 0.9rem;
  background: var(--gray900);
  color: var(--gray500);
  padding: 0 1rem;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #0d1017;
}

.editor__tab--active {
  color: var(--gray200);
  background-color: var(--gray800);
  border-right: 1px solid var(--gray900);
}

.editor__tab-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.75rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.editor__tab:hover .editor__tab-close {
  opacity: 1;
}

.editor__tab-close path {
  stroke: var(--gray200);
}

/**** NETWORK ****/

.network {
  border-top: 4px solid var(--gray800);
  width: 100%;
  height: calc(100% - 30px);
}

.network__canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/**** CODE ****/

.code {
}

.CodeMirror {
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--gray800);
}

.CodeMirror {
  background-color: var(--gray800) !important;
}

.CodeMirror-gutters {
  background-color: var(--gray900) !important;
}

.CodeMirror-selected {
  background: var(--gray700) !important;
}

.CodeMirror-code {
  font-size: 1rem;
  font-family: var(--font-mono);
}

.code textarea {
  font: 15px var(--font-mono);
  width: 100%;
  height: 100%;
  outline: none;
}

.viewer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.params {
}

.params__empty {
  color: var(--gray700);
  padding: 2rem 2rem;
  text-align: center;
}

.params__title {
  color: var(--gray500);
  background-color: var(--gray700);
  padding: 0 1rem;
  height: 30px;
  line-height: 30px;
  font-size: 0.75rem;
}

.params__header {
  color: var(--gray700);
  background-color: var(--gray800);
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.params__port {
  color: var(--gray500);
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.params__row {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: baseline;
}

.params__field {
  color: var(--gray300);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

input.params__field {
  border: none;
  background: var(--gray700);
  color: var(--gray300);
  padding: 0.5rem;
  outline: none;
}

input.params__field:focus {
  border-color: var(--blue500);
}

.params__label {
  width: 100px;
  text-align: right;
  margin-right: 1rem;
  cursor: ew-resize;
  color: var(--gray600);
}

.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .dialog {
  min-width: 500px;
  min-height: 300px;
  background: var(--gray600);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
} */

.colorpicker__slider {
  -webkit-appearance: none;
  background: transparent;
  height: 12px;
  margin-bottom: 5px;
}

.colorpicker__slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 8px;
}

.colorpicker__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #ffffff;
  height: 12px;
  width: 12px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  margin-top: -2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}

.colorpicker__slider:focus {
  outline: none;
}

.colorpicker__hue::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%)
  );
  border-radius: 8px;
}

.colorpicker__alpha::-webkit-slider-runnable-track {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><rect x='0' y='0' width='4' height='4' fill='rgba(255, 255, 255, 0.2)' /><rect x='4' y='4' width='4' height='4' fill='rgba(255, 255, 255, 0.2)' /></svg>"),
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.9));

  border-radius: 8px;
}
