# Secrets are fetched from 1Password.
# Run `./scripts/setup-secrets.sh` to create the .env file.

# Apple Developer Account
APPLE_ID={{ op://Algorithmic Gaze/Figment App/Apple/APPLE_ID }}
APPLE_ID_PASSWORD={{ op://Algorithmic Gaze/Figment App/Apple/APPLE_ID_PASSWORD }}
APPLE_TEAM_ID={{ op://Algorithmic Gaze/Figment App/Apple/APPLE_TEAM_ID }}
APPLE_ASC_PROVIDER={{ op://Algorithmic Gaze/Figment App/Apple/APPLE_ASC_PROVIDER }}
