# Get an Apple App Password at https://appleid.apple.com
# The Apple ID is your email address.
# The ASC Provider is your Team Short Name: https://www.npmjs.com/package/electron-notarize#notes-on-your-team-short-name
# The Team ID you can get from `xcrun altool --list-providers -u <your apple id> -p <your app password>`
APPLE_ID=frederik@debleser.be
APPLE_APP_SPECIFIC_PASSWORD=your_app_specific_password
APPLE_TEAM_ID=5X78EYG9RH
